@page "/Test1"
@using System.IO
@using Microsoft.AspNetCore.Hosting;
@inject IWebHostEnvironment _env;
<h3>Component</h3>
<button class="btn btn-danger" @onclick="ImageToBase64">

</button>
@if (base64String != null)
{
	<p><img src="data:image/png;base64, @base64String" width="220" height="150"></p>
}
@code {
	string base64String = null;
	string path = null;
	string pathImage = "img\\picture.png";

	public void ImageToBase64()
	{
		path = Path.Combine(_env.WebRootPath, pathImage).Replace("\\", "/"); 
		using (System.Drawing.Image image = System.Drawing.Image.FromFile(path))
		{
			using (MemoryStream m = new MemoryStream())
			{
				image.Save(m, image.RawFormat);
				byte[] imageBytes = m.ToArray();
				base64String = Convert.ToBase64String(imageBytes);
			}
		}
	}
}
