<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OrderMedicine</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi fa-solid fa-user" aria-hidden="true"></span> Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="member-group">
                <span class="oi fa-solid fa-users" aria-hidden="true"></span> Member group
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="oi fas fa-pills" aria-hidden="true"></span> Order medicine
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report-page">
                <span class="oi fa-solid fa-file-circle-check" aria-hidden="true"></span> Report
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report-page">
                <span class="oi fas fa-pills" aria-hidden="true"></span> Print
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}