@page "/report-index"

<div class="row">
	<div class="col-lg-3">
		<div class="mb-3" style="border-radius:10px; border:solid; border-color:#ddd; max-width: 18rem; background: #ffffff;cursor:pointer;">
			<div class="card-body">
				<div class="row">
					<div class="d-flex justify-content-between p-2">
						<h4 class="card-title" style="color:#6699FF;">
							Group : 30 
						</h4>
						<h5 class="card-title"><i class="fa-solid fa-users"></i></h5>
					</div>
					<h6 style="color:#919AA3"> Sum people : 180</h6>
				</div>
			</div>

			<div class="card-footer" style="background:linear-gradient( 90deg,#8BD2EC,#92CEA8, #FCEE9E,#FFF3D7); color:#ffffff">
				<div class="d-flex justify-content-between p-2">
					<div>Click</div>
					<div class=" fa-solid fa-arrow-pointer" style="color:#6699FF;"></div>
				</div>		
			</div>
		</div>
	</div>
	
	<div class="col-lg-3">
		<div class="mb-3" style="border-radius:10px; border:solid; border-color:#ddd; max-width: 18rem; background: #ffffff;">
			<div class="card-body">
				<div class="row">
					<div class="d-flex justify-content-between p-2">
						<h4 class="card-title" style="color:#FE9365;">
							$30200
						</h4>
						<h5 class="card-title"><i class="fa-solid fa-chart-simple"></i></h5>
					</div>
					<h6 style="color:#919AA3"> All Earnings</h6>
				</div>
			</div>

			<div class="card-footer" style="background: linear-gradient( 90deg,#ffb97a,#f5bf8e,#f5bf8e, #fde8ba,#fef0d2); color:#ffffff">
				<div class="d-flex justify-content-between p-2">
					<div>% change</div>
					<div class="fa-solid fa-arrow-trend-down"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="mb-3" style="border-radius:10px; border:solid; border-color:#ddd; max-width: 18rem; background: #ffffff;">
			<div class="card-body">
				<div class="row">
					<div class="d-flex justify-content-between p-2">
						<h4 class="card-title" style="color:#FE9365;">
							$30200
						</h4>
						<h5 class="card-title"><i class="fa-solid fa-chart-simple"></i></h5>
					</div>
					<h6 style="color:#919AA3"> All Earnings</h6>
				</div>
			</div>

			<div class="card-footer" style="background: linear-gradient( 90deg,#ffb97a,#f5bf8e,#f5bf8e, #fde8ba,#fef0d2); color:#ffffff">
				<div class="d-flex justify-content-between p-2">
					<div>% change</div>
					<div class="fa-solid fa-arrow-trend-down"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="mb-3" style="border-radius:10px; border:solid; border-color:#ddd; max-width: 18rem; background: #ffffff;">
			<div class="card-body">
				<div class="row">
					<div class="d-flex justify-content-between p-2">
						<h4 class="card-title" style="color:#FE9365;">
							$30200
						</h4>
						<h5 class="card-title"><i class="fa-solid fa-chart-simple"></i></h5>
					</div>
					<h6 style="color:#919AA3"> All Earnings</h6>
				</div>
			</div>

			<div class="card-footer" style="background: linear-gradient( 90deg,#ffb97a,#f5bf8e,#f5bf8e, #fde8ba,#fef0d2); color:#ffffff">
				<div class="d-flex justify-content-between p-2">
					<div>% change</div>
					<div class="fa-solid fa-arrow-trend-down"></div>
				</div>
			</div>
		</div>
	</div>
</div>


@code {

}
